/* 検索ボックス */
.search-form__reservation {
    margin-top: 40px;
    width: 60%;
    margin-left: auto;
}

.search-form__date-input {
    padding: 5px 10px;
    height: 38px;
    cursor: pointer;
}

/* 全体レイアウト */
.owner-reservation {
    margin-bottom: 80px;
}

.empty-message {
    margin-top: 40px;
}

/* 予約一覧テーブル */
.reservation-table {
    width: 100%;
    margin: 60px auto;
    border-collapse: collapse;
    background-color: white;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    text-align: center;
    overflow: hidden;
}

.reservation-table__thead {
    background-color: #2962ff;
    color: white;
}

.reservation-table__head {
    padding: 15px;
    font-weight: bold;
    font-size: 22px;
}

.reservation-table__content {
    padding: 12px;
    font-size: 20px;
    color: black;
    border: 1px solid #ddd;
    background-color: #fff;
    font-weight: 500;
}

/* レスポンシブデザイン (タブレット768px - 850px) */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .reservation-table__head {
        font-size: 19px;
    }

    .reservation-table__content {
        font-size: 17px;
    }

    .search-form {
        width: 100%;
        padding: 10px 5px;
        font-size: 14px;
    }

    .search-form__select {
        padding: 5px 30px 5px 0px;
    }
}