/* 全体レイアウト */
.notice-detail {
    margin-bottom: 80px;
}

/* メール詳細 */
.notice-detail__content {
    margin: 60px auto;
    width: 48%;
    background-color: #ffffff;
    color: black;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    padding: 30px 50px;
    font-size: 20px;
}

.notice-detail__item {
    margin-bottom: 25px;
}

.notice-detail__label {
    margin-bottom: 6px;
    font-weight: 500;
}

.notice-detail__value {
    background-color: #f9fafc;
    padding: 8px 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 18px;
}

/* レスポンシブデザイン (タブレット768px - 850px) */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .notice-detail__content {
        width: 95%;
    }
}