/* 飲食店詳細レイアウト */
.shop-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
    margin-bottom: 80px;
    align-items: stretch;
}

.shop-detail__info {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

/* イメージ画像 */
.info__img img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin-top: 25px;
}

/* タグ・商品説明 */
.info__tags,
.info__description {
    margin-top: 25px;
    font-size: 17px;
    font-weight: 500;
}

/* 予約フォーム */
.shop-detail__reservation-form {
    grid-column: 2;
    background-color: #2563eb;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.reservation-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.reservation-form__content {
    padding: 25px;
    flex: 1;
}

.reservation-form__title {
    margin-bottom: 25px;
    font-size: 28px;
    color: white;
}

.reservation-form__select {
    font-size: 17px;
    font-weight: 500;
}

.reservation-form__select--date,
.reservation-form__select--time,
.reservation-form__select--number {
    padding: 5px 10px;
    height: 35px;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
}

.reservation-form__select--date {
    width: 30%;
}

.reservation-form__select--time,
.reservation-form__select--number {
    width: 100%;
    margin-top: 20px;

}

.select-wrapper {
    position: relative;
}

.select-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(50%);
    pointer-events: none;
    width: 15px;
    height: 10px;
    cursor: pointer;
}

/* 予約確認欄 */
.reservation-form__confirm {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    margin: 20px 0;
    padding: 25px 20px;
    font-size: 20px;
    color: white;
    text-align: left;
}

.reservation-form__table {
    width: 100%;
}

.reservation-form__header {
    width: 25%;
    border-radius: 6px;
    font-weight: 500;
}


.reservation-form__header,
.reservation-form__cell {
    padding: 3px 0;
}

/* 予約ボタン */
.reservation-form__btn {
    width: 100%;
    padding: 20px;
    background-color: blue;
    border-radius: 0 0 6px 6px;
    font-size: 20px;
    color: white;
    text-align: center;
}

/* レスポンシブデザイン (タブレット768px - 850px) */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .shop-detail {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .shop-detail__info,
    .shop-detail__reservation-form {
        grid-column: auto;
    }
}