/* 店舗一覧 */
.shop__list {
    margin-bottom: 30px;
}

.shop__grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

/* レスポンシブデザイン (タブレット768px - 850px) */
@media (max-width: 850px) and (min-width: 768px) {
    .shop__grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}