/* 全体レイアウト */
.owner-home__header {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

.owner-home__container {
    display: flex;
    gap: 60px;
    padding: 20px;
    margin-bottom: 80px;
}

.shop-info {
    flex: 60%;
}

/* 店舗情報 */
.shop-info__title {
    font-size: 28px;
    margin-bottom: 30px;
}

.shop-info__section {
    margin-bottom: 40px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    color: black;
    text-align: left;
}

.shop-info__form {
    padding: 20px 40px 40px;
}

.shop-info__form-group {
    margin-top: 20px;
}

.shop-info__form--label {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
}

.shop-info__form--input,
.shop-info__form--select,
.shop-info__form--textarea {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.shop-info__form--input[type="file"] {
    padding: 12px;
}

.shop-info__img {
    margin-bottom: 10px;
}

.shop-info__img img {
    width: 100%;
    max-width: 300px;
    border-radius: 6px;
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.select-wrapper {
    position: relative;
}

.select-icon {
    position: absolute;
    right: 15px;
    top: 60%;
    transform: translateY(50%);
    pointer-events: none;
    width: 15px;
    height: 10px;
    cursor: pointer;
}

.shop-info__btn {
    width: 100%;
    padding: 20px;
    background-color: #2962ff;
    border-radius: 0 0 6px 6px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    text-align: center;
}

/* 共通アイコン */
.icon {
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

/* レスポンシブデザイン (タブレット768px - 850px) */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .owner-home__container {
        flex-direction: column;
        gap: 40px;
    }

    .shop-info,
    .owner-home__reservations {
        flex: 100%;
    }
}