html,
body {
    height: 100%;
    background-color: #eeeeee;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}

/* ヘッダー */
.header {
    display: grid;
    align-items: center;
    padding: 40px 100px;
    color: #2552ff;
    font-weight: bold;
    font-size: 32px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}