/* 予約完了フォーム */
.done-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* フォームボックス */
.done-form__inner {
    width: 28vw;
    padding: 110px 30px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-align: center;
}

.done-form__message {
    font-size: 25px;
    font-weight: 500;
}

/* トップページ移行ボタン */
.done-form__home {
    margin-top: 50px;
}

.done-form__home--link {
    background-color: #2962ff;
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

/* レスポンシブデザイン (タブレット768px - 850px) */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .done-form__inner {
        width: 50vw;
    }

    .done-form__message {
        font-size: 23px;
    }
}