/* 全体レイアウト */
.review-post {
    margin-bottom: 80px;
}

/* レビュー投稿フォーム */
.review-post__form {
    margin: 40px auto;
    width: 45%;
    background-color: #2563eb;
    color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.review-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.review-form__content {
    padding: 40px;
    flex: 1;
}

.review-form__title {
    margin-bottom: 35px;
    font-size: 24px;
    color: white;
    text-align: center;
}

/* レビュー星 */
.review-form__stars {
    margin-bottom: 15px;
}

.review-form__label {
    font-size: 20px;
    font-weight: 500;
}

.stars-label-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.stars {
    display: flex;
    gap: 10px;
    font-size: 30px;
    cursor: pointer;
}

.star {
    color: #ccc;
    transition: color 0.2s;
}

.star.active {
    color: gold;
}

/* コメント */
.review-form__textarea textarea {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    resize: vertical;
    background-color: white;
}

/* 投稿ボタン */
.review-form__btn {
    margin-top: 40px;
    width: 100%;
    padding: 20px;
    background-color: blue;
    border-radius: 0 0 8px 8px;
    font-size: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
}

/* エラーメッセージ */
.error-message {
    margin-top: 2px;
    color: white;
    font-weight: 500;
}

/* レスポンシブ */
@media screen and (max-width: 850px) {
    .review-post__form {
        width: 90%;
    }
}